
* {
  color: #58427c;


}

.photo {
  width:350px;
  height:350px;
  position: relative;
  object-fit: cover;
  flex-grow: 2;

}
.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('../images/pattern-bg.svg');
  background-repeat: no-repeat;
}



.btn {
  position: absolute;
  cursor: pointer;

}

.pre {
  top:33rem;
  right: 15rem;
}

.next {
  top:33rem;
  right: 10rem;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10rem 5rem;


}

.backgroundImg {
  background-image: url('../images/pattern-bg.svg');
  background-repeat: no-repeat;
  height: 10rem;
  width:10rem;
  z-index: -1;
  height: 90vh;
  width: 90vw;
  min-width: 50%;
  position: absolute;
  top: 100px;
  left: 450px;
  opacity: .5;



}

.description {
  line-height: 2rem;
  margin-top: 5rem;
  font-size: 20px;

  margin-bottom: 1rem;
}

.big-container {
  margin:0 auto;
}

.name,
.title {
  display: inline-block;
}

.name {
  margin-right: 10px;
  font-weight: bold;
}
.title {
  font-weight: lighter;
  color: #acacd1;
}

.nameContainer {
  margin-left: 5rem;
  margin-top: -14rem
}

